<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="ListUsers_frag">
    <table class="table table-striped">
        <thead bgcolor="#3675AB">
        <tr>
            <th>
                <button sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal"><i class="bi bi-plus-circle"></i></button>
            </th>
            <th>Имя пользователя</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${list.list}">
                <td >
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal" th:data="${user.userId}"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"  th:data="${user.userId}"><i class="bi bi-x-circle"></i></button>
                </td>
                <td th:text="${user.username}">username</td>
            </tr>
        </tbody>
    </table>
</div>
</body>

<script>
    $('.btn-danger').click(function() {
        var userId = $(this).attr("data")
        if (userId) {
            $.ajax({
                url: '/user/deleteUser.json',
                type: 'POST',
                data: JSON.stringify(userId),
                contentType: "application/json;",
                dataType: "json",
                success: (response) => {
                    location.reload()
                },
                error: (err) => {
                    alert(err);
                }
            })
        }
    })
</script>

</html>