<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/default">
    <head>
        <title>Список пользователей</title>
    </head>
    <div layout:fragment="content">
        <script>
            //<![CDATA[
            $(document).ready(function() {
                $('input[name="_clear"]').click(function(){
                    $('input[type="text"]').val('');
                    $('select').val('');
                });
            });
            //]]>
        </script>
        <div class="col-sm-12">
            <form action="#" th:action="@{/user/users.html}" th:object="${command}" method="post" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading initialism">
                        Поиск пользователей
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Имя пользователя:
                            </label>
                            <div class="col-sm-3">
                                <input type="text" th:field="*{username}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <input class="btn btn-primary btn-sm"  type="submit" value="Поиск" name="_search"/>
                            <input class="btn btn-primary btn-sm"  type="submit" value="Очистить" name="_clear"/>
                        </div>
                    </div>
                </div>
            </form>


            <div th:include='layouts/pagination :: paginationbar' ></div>
            <table class="table table-striped">
                <thead bgcolor="#3675AB">
                    <tr>
                        <th class="action-button">
                            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/user/storeEdit.html"
                               th:href="@{'/user/userEdit.html?userId='}"><i sec:authorize="hasRole('ROLE_ADMIN')" class="fa fa-plus-circle" aria-hidden="true" title="Добавить"></i></a>
                        </th>
                        <th>Имя пользователя</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${list.list}">
                        <td >
                            <button id="edit-user" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#userEditDialog" th:data-userId="${user.id}"><i class="fas fa-edit"></i></button>
                            <!--
                            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/user/storeEdit.html"
                               th:href="@{'/user/userEdit.html?userId=' + ${user.userId}}"><i class='fa fa-pencil' aria-hidden='true' title="Редактировать"></i></a>
                            -->>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/user/storeDelete.html"
                               th:href="@{'/user/userDelete.html?userId=' + ${user.userId}}"><i class='fa fa-remove' aria-hidden='true' title="Удалить"></i></a>

                        </td>
                        <td th:text="${user.username}">username</td>
                    </tr>
                </tbody>
            </table>
            <!--Модальное окно-->>
            <div class="modal fade" id="userEditDialog" tabindex="-1" role="dialog" aria-labelledby="userEditDialogLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userEditDialogLabel">Edit user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <input type="hidden" id="user-id"></input>
                                <div class="form-group">
                                    <label for="user-name" class="col-form-label">User name</label>
                                    <input type="text" class="form-control" id="user-name"></input>
                                </div>
                                <div class="form-group">
                                    <label for="user-password" class="col-form-label">Password</label>
                                    <input type="password" class="form-control" id="user-password"></input>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="save-user-button" type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->>
            <div th:include='layouts/pagination :: paginationbar' ></div>
        </div>
    </div>
</html>