<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/default">
    <head>
        <title>Список пользователей</title>
    </head>
    <div layout:fragment="content">
        <script>
            //<![CDATA[
            $(document).ready(function() {
                $('input[name="_clear"]').click(function(){
                    $('input[type="text"]').val('');
                    $('select').val('');
                });
            });
            //]]>
        </script>
        <div class="col-sm-12">
            <form action="#" th:action="@{/user/users.html}" th:object="${command}" method="post" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading initialism">
                        Поиск пользователей
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Имя пользователя:
                            </label>
                            <div class="col-sm-3">
                                <input type="text" th:field="*{username}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <input class="btn btn-primary btn-sm"  type="submit" value="Поиск" name="_search"/>
                            <input class="btn btn-primary btn-sm"  type="submit" value="Очистить" name="_clear"/>
                        </div>
                    </div>
                </div>
            </form>
            <div th:include='layouts/pagination :: paginationbar' ></div>
            <div id="listUsers">
                <table class="table table-striped">
                    <thead bgcolor="#3675AB">
                    <tr>
                        <th>
                            <button sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal"><i class="bi bi-plus-circle"></i></button>
                        </th>
                        <th>Имя пользователя</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    <tr th:each="user : ${list.list}" sec:authorize="hasRole('ROLE_ADMIN')">
                        <td >
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal" th:data="${user.userId}"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn btn-danger"  th:data="${user.userId}"><i class="bi bi-x-circle"></i></button>
                        </td>
                        <td th:text="${user.username}">username</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--Модальное окно-->
            <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Новое сообщение</h5>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <input type="hidden" id="userId"/>
                                    <label for="username" class="col-form-label">Имя:</label>
                                    <div for="username" class="userContainer" style="color: red "></div>
                                    <input id="username" type="text" class="form-control" />
                                    <label for="password" class="col-form-label">Пароль:</label>
                                    <div for="password" class="passwordContainer" style="color: red "></div>
                                    <input id="password" class="form-control"/>
                                    <label for="email" class="col-form-label">Email:</label>
                                    <div for="email" class="emailContainer" style="color: red "></div>
                                    <input id="email" type="text" class="form-control"/>
                                    <label for="userRole" class="col-form-label">Роль:</label>
                                    <select id="userRole" type="text" class="form-control">
                                        <option value="ROLE_ADMIN">Админ</option>
                                        <option value="ROLE_USER">Пользователь</option>
                                        <option value="ROLE_EDITOR">Редактор</option>
                                    </select>
                                    <label for="enabled" class="col-form-label"> Вкл/Выкл</label>
                                    <select id="enabled" type="text" class="form-control">
                                        <option value="true">Вкл</option>
                                        <option value="false">Выкл</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="save-user-button" class="btn btn-primary">Сохранить</button>
                            <button type="button" id="close-user-button" class="btn btn-primary" >Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>



            <!---->
            <script>

                let exampleModal = document.getElementById('userModal')

                $(document).ready(function() {

                    function updateListUsers() {
                        $.post("/user/updateListUsers.html").done(function (fragment) {
                            $("#listUsers").replaceWith(fragment);
                        });
                    }


                    exampleModal.addEventListener('show.bs.modal', function (event) {
                        var button = event.relatedTarget
                        var userId = button.getAttribute('data')
                        if (userId) {
                            $.get({
                                url: '/user/getUser.json?userId=' + userId,
                                success: (data) => {
                                    let modal = $(this)
                                    modal.find('#userId').val(data.userId)
                                    modal.find('#username').val(data.username)
                                    modal.find('#password').val(data.password)
                                    modal.find('#email').val(data.email)
                                    modal.find('#userRole').val(data.userRole)
                                    if (data.enabled == true)
                                        modal.find('#enabled').val("true")
                                    else
                                        modal.find('#enabled').val("false")
                                },
                                error: (err) => {
                                    alert('error: '+err);
                                }
                            });
                        }
                    })

                    $('#save-user-button').click(function() {
                        let modal = $('#userModal')
                        let user = {
                            userId: modal.find('#userId').val(),
                            username: modal.find('#username').val(),
                            password: modal.find('#password').val(),
                            email: modal.find('#email').val(),
                            userRole: modal.find('#userRole').val(),
                            enabled: modal.find('#enabled').val()
                        };
                        $('.userContainer').empty();
                        $('.passwordContainer').empty();
                        $('.emailContainer').empty();
                        $.ajax({
                            url: '/user/postUser.json',
                            type: 'POST',
                            data: JSON.stringify(user),
                            contentType: "application/json;",
                            dataType: "json",
                            success: (response) => {
                                if (response.errors) {
                                    $.each(response.errors, function (index, value) {
                                        if(response.errorCode[index] == "username") {
                                            $('<p>' + value + '</p>').appendTo('.userContainer');
                                        };
                                        if(response.errorCode[index] == "password"){
                                            $('<p>' + value + '</p>').appendTo('.passwordContainer');
                                        };
                                        if(response.errorCode[index] == "email"){
                                            $('<p>' + value + '</p>').appendTo('.emailContainer');
                                        };
                                    });
                                }
                            },
                            error: (err) => {
                                console.log(err);
                            }
                        })
                    });

                    $('#close-user-button').click(function() {
                        var myModal = document.getElementById('userModal')
                        var modal = bootstrap.Modal.getInstance(myModal)
                        modal.hide()
                        modal.dispose()
                        location.reload()
                    })

                    $('.btn-danger').click(function() {
                        var userId = $(this).attr("data")
                        if (userId) {
                            $.ajax({
                                url: '/user/deleteUser.json',
                                type: 'POST',
                                data: JSON.stringify(userId),
                                contentType: "application/json;",
                                dataType: "json",
                                success: (response) => {
                                    location.reload()
                                },
                                error: (err) => {
                                    alert(err);
                                }
                            })
                        }
                    })
                })
            </script>
            <div th:include='layouts/pagination :: paginationbar' ></div>
        </div>
    </div>
</html>