<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/default">
    <head>
        <title>Список пользователей</title>
    </head>
    <div layout:fragment="content">
        <script>
            //<![CDATA[
            $(document).ready(function() {
                $('input[name="_clear"]').click(function(){
                    $('input[type="text"]').val('');
                    $('select').val('');
                });
            });
            //]]>
        </script>
        <div class="col-sm-12">
            <form action="#" th:action="@{/user/users.html}" th:object="${command}" method="post" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading initialism">
                        Поиск пользователей
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Имя пользователя:
                            </label>
                            <div class="col-sm-3">
                                <input type="text" th:field="*{username}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <input class="btn btn-primary btn-sm"  type="submit" value="Поиск" name="_search"/>
                            <input class="btn btn-primary btn-sm"  type="submit" value="Очистить" name="_clear"/>
                        </div>
                    </div>
                </div>
            </form>


            <div th:include='layouts/pagination :: paginationbar' ></div>
            <table class="table table-striped">
                <thead bgcolor="#3675AB">
                    <tr>
                        <th>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal"><i class="bi bi-plus-circle"></i></button>
                        </th>
                        <th>Имя пользователя</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${list.list}">
                        <td >
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal" th:data="${user.userId}"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn btn-danger"  th:data="${user.userId}"><i class="bi bi-x-circle"></i></button>
                        </td>
                        <td th:text="${user.username}">username</td>
                    </tr>
                </tbody>
            </table>
            <!--Модальное окно-->
            <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Добавление / редактирование пользователя</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <input type="hidden" id="userId"/>
                                    <label for="username" class="col-form-label">Имя:</label>
                                    <input id="username" type="text" class="form-control" />
                                    <label for="password" class="col-form-label">Пароль:</label>
                                    <input id="password" class="form-control"/>
                                    <label for="email" class="col-form-label">Email:</label>
                                    <input id="email" type="text" class="form-control"/>
                                    <label for="userRole" class="col-form-label">Роль:</label>
                                    <select id="userRole" type="text" class="form-control">
                                        <option value="ROLE_ADMIN">Админ</option>
                                        <option value="ROLE_USER">Пользователь</option>
                                    </select>
                                    <label for="enabled" class="col-form-label"> Вкл/Выкл</label>
                                    <select id="enabled" type="text" class="form-control">
                                        <option value="true">Вкл</option>
                                        <option value="false">Выкл</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <tr><td colspan="2"><div id="info" style="color: green;"></div></td></tr>
                        <div class="modal-footer">
                            <button type="button" id="save-user-button" class="btn btn-primary">Сохранить</button>
                            <button type="button" id="close-modal-button" class="btn btn-primary">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <script>
                var exampleModal = document.getElementById('userModal')
                exampleModal.addEventListener('show.bs.modal', function (event) {
                    var button = event.relatedTarget
                    var userId = button.getAttribute('data')
                    if (userId) {
                        $.get({
                            url: '/user/getUser.json?userId=' + userId,
                            success: (data) => {
                                var modal = $(this)
                                modal.find('#userId').val(data.userId)
                                modal.find('#username').val(data.username)
                                modal.find('#password').val(data.password)
                                modal.find('#email').val(data.email)
                                modal.find('#userRole').val(data.userRole)
                                if (data.enabled == true)
                                    modal.find('#enabled').val("true")
                                else
                                    modal.find('#enabled').val("false")
                            },
                            error: (err) => {
                                alert(err);
                            }
                        });
                    }
                })

                $('#save-user-button').click(function() {
                    var modal = $('#userModal')
                    var user = {
                        userId: modal.find('#userId').val(),
                        username: modal.find('#username').val(),
                        password: modal.find('#password').val(),
                        email: modal.find('#email').val(),
                        userRole: modal.find('#userRole').val(),
                        enabled: modal.find('#enabled').val()
                    };
                    $.ajax({
                        url: '/user/postUser.json',
                        type: 'POST',
                        dataType: "html",
                        data: JSON.stringify(user),
                        contentType: "application/json;",
                        success: (returnText) => {
                            alert(returnText);
                        },
                        error: (err) => {
                            alert(err);
                        }
                    })
                    modal.dispose()
                });

                $('#close-modal-button').click(function() {
                    var myModal = document.getElementById('userModal');
                    var modal = bootstrap.Modal.getInstance(myModal)
                    modal.hide();
                    modal.dispose()
                    location.reload()
                });

            </script>
            <div th:include='layouts/pagination :: paginationbar' ></div>
        </div>
    </div>
</html>