<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/default">
<head>
  <title>Блог</title>
</head>
<div layout:fragment="content">
    <div th:each="post : ${list.list}" class="alert  alert-info mt-2">
        <td th:text="${post.title}"/>
        <p th:text="${post.anons}"/>
        <p th:text="${post.ful_text}"/>
        <a th:href="@{'/blog/' + ${post.id} + '.html'}">Подробно</a>
    </div>
</div>

</html>