<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/default">
<head>
    <title>Редактирование пользователя</title>
</head>
<div layout:fragment="content">
    <div class="col-sm-12">
        <form action="#" th:action="@{/blog/add.html}" th:object="${command}" method="post" class="form-horizontal">
            <input type="hidden" th:field="*{id}" />

            <div class="panel panel-default">
                <div class="panel-heading initialism">
                    Редактирование/добавление статьи
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Название статьи
                        </label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{title}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Анонс
                        </label>
                        <div class="col-sm-3">
                            <input type="password" th:field="*{anons}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Полный текст статьи
                        </label>
                        <div class="col-sm-3">
                            <textarea type="text" th:field="*{ful_text}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <input class="btn btn-primary" type="submit" value="Сохранить" name="_save"/>
                            <input class="btn btn-primary" type="submit" value="Отменить" name="_cancel"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>