<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/default">
<head>
    <title>Редактирование пользователя</title>
</head>
<div layout:fragment="content">

        <div class="container mt-5 mb-5">
            <form action="#" th:action="@{/post/postEdit.html}" th:object="${selectPost}" method="post" class="form-horizontal">
                <input type="hidden" th:field="*{Id}" />
                <h1>Редактирование/добавление статьи</h1>
                <label>Заголовок</label>
                <input type="text" th:field="*{title}" th:class="${#fields.hasErrors('title')}? 'fieldError form-control' : 'form-control'"  name="title" class="form-control"/>
                <label>Краткое содержание </label>
                <input type="text" th:field="*{anons}" th:class="${#fields.hasErrors('anons')}? 'fieldError form-control' : 'form-control'" name="anons" class="form-control"/>
                <label>Полный текст</label>
                <input type="text" th:text="${ful_text}" th:class="${#fields.hasErrors('ful_text')}? 'fieldError form-control' : 'form-control'" th:field="*{ful_text}" name="ful_text" class="form-control"></input>
                <input class="btn btn-primary" type="submit" value="Сохранить" name="_save"/>
                <input class="btn btn-primary" type="submit" value="Отменить" name="_cancel"/>
            </form>
        </div>

</div>
</html>