<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/default">
<head>
  <title th:text="'Статья №' + ${selectPost.id}">Статья №</title>
</head>
<div layout:fragment="content">
  <div class="alert  alert-info mt-2">
    <td th:text="${selectPost.title}"/>
    <p th:text="${selectPost.anons}"/>
    <p th:text="${selectPost.ful_text}"/>
  </div>
</div>
</html>